<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <!-- インストール先フォルダを指定 C:\Program Files\FrameResizer -->
	<!-- Fragmentで各ファイルに定義して、参照することが可能 -->
    <Fragment>
		<!-- StandardDirectory : Program Filesなどの一般的なフォルダを参照する -->
        <StandardDirectory Id="ProgramFiles6432Folder">
			<!-- Directory : 直接ディレクトリ名を指定 -->
            <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" />
        </StandardDirectory>
    </Fragment>
</Wix>