<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="ShortcutGroup">
			<!-- Program Menuのショートカット -->
			<Component Id="ShortcutProgramMenuDirComponent" Guid="19886d0f-f3ab-4cf9-bdd2-9b10eeca1936">
				<Shortcut Id="ShortcutProgramMenuDir"
						  Name="FrameResizerShortcut"
						  Target="[INSTALLFOLDER]\\FrameResizer.exe"
						  Directory="ProgramMenuFolder"
						  WorkingDirectory="INSTALLFOLDER"
						  Icon="Icon"
						  Advertise="no"/>
				<RemoveFolder Id='RemoveProgramMenuFolder' On='uninstall' />
				<RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]\menu' Type='string' Value='' KeyPath='yes' />
			</Component>

			<!-- Desktopのショートカット -->
			<Component Id='ShortcutDesktopFolderComponent' Guid="19886d0f-f3ab-4cf9-bdd2-9b10eeca1937">
				<Shortcut Id="ShortcutDesktopFolder"
						  Name="FrameResizerShortcut"
						  Target="[INSTALLFOLDER]\\FrameResizer.exe"
						  Directory="DesktopFolder"
						  WorkingDirectory="INSTALLFOLDER"
						  Icon="Icon"
						  Advertise="no"/>
				<RemoveFolder Id='RemoveDesktopFolder' On='uninstall' />
				<RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]\desktop' Type='string' Value='' KeyPath='yes' />
			</Component>

			<!-- Startupのショートカット Directory="StartupFolder" は固定名、StartupはショートカットというよりPC起動時にアプリを起動する設定 -->
			<!--
			<Component Id='ShortcutStartupFolderComponent' Guid="19886d0f-f3ab-4cf9-bdd2-9b10eeca1938">
				<Shortcut Id="ShortcutStartupFolder"
						  Name="FrameResizerShortcut"
						  Target="[INSTALLFOLDER]\\FrameResizer.exe"
						  Directory="StartupFolder"
						  WorkingDirectory="INSTALLFOLDER"
						  Icon="Icon"
						  Advertise="no"/>
				<RemoveFolder Id='RemoveStartupFolder' On='uninstall' />
				<RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]\startup' Type='string' Value='' KeyPath='yes' />
			</Component>
			-->
		</ComponentGroup>
	</Fragment>
</Wix>
