<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<Package Name="FrameResizer"
			 Manufacturer="MetalMental"
			 Version="1.0.0.0"
			 Language="1041"
			 Scope="perMachine"
			 UpgradeCode="3c0ab060-0130-41d8-b28f-cb7d2abbc100">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<!-- .cabファイルを.msiファイルに埋め込み、インストーラーファイル単体にする設定 -->
		<Media Id="1" Cabinet="app.cab" EmbedCab="yes" />
		<!-- ICON -->
		<Icon Id="Icon" SourceFile="../FrameResizer/TitleIcon.ico" />
		<!-- 使用許諾 -->
		<WixVariable Id="WixUILicenseRtf" Value="license.rtf"/>

		<!-- 機能の定義 -->
		<Feature Id="Main" Level='1'>
			<!-- ComponentはRedで参照 -->
			<ComponentGroupRef Id="SourceCode"/>
			<ComponentGroupRef Id="ShortcutGroup"/>
		</Feature>

		<ui:WixUI
        Id="WixUI_Minimal"
        InstallDirectory="INSTALLFOLDER"
        />
	</Package>
</Wix>